@import '../../assets/style/utils';
.comicDetail {
  > p {
    text-align: center;
  }
  > div {
    max-width: 960px;
    margin: 0 auto;
  }

  .info > ul > li,
  .description,
  .chapter {
    &:before {
      content: attr(data-title);
      display: inline-block;
      width: rhythm(6);
      letter-spacing: 2px;
      font-weight: 900;
    }
  }
  .detail,
  .chapter > ul {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .detail {
    margin: rhythm(3) 0;
    > .cover,
    > .info {
      float: left;
      box-sizing: border-box;
      width: 50%;
    }
    > .cover {
      font-size: 0;
      > img {
        box-sizing: border-box;
        width: 100%;
        border: 4px solid $primary;
      }
    }
  }
  .info {
    > h2 {
      @extend %clearGutter;
      box-sizing: border-box;
      height: rhythm(5);
      padding: 0 rhythm(2);
      background-color: $primary;
      font-weight: 900;
      line-height: 50px;
    }
    > ul {
      margin: rhythm(2);
      padding: 0;
      list-style: none;
      > li {
        line-height: rhythm(4);
      }
    }
  }
  .description {
    margin: rhythm(3);
    line-height: rhythm(3);
    &:before {
      display: block;
    }
  }
  .chapter {
    margin: rhythm(3);
    line-height: rhythm(3);
    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      border: 4px solid $primary;
      background-color: $primary;
      > li {
        display: block;
        float: left;
        width: 24%;
        margin: 0.5%;
        text-align: center;
        background-color: $dark;
        > a {
          display: block;
          box-sizing: border-box;
          padding: rhythm(1) 0;
          text-decoration: none;
          color: $light;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .comicDetail {
    .detail {
      margin: rhythm(1);
      > .cover,
      > .info {
        float: none;
        width: 100%;
      }
    }
    .chapter {
      > ul {
        > li {
          width: 98%;
        }
      }
    }
  }
}
