@import '../../assets/style/utils';
.chapterThumb {
  > ul {
    overflow: auto;
    width: 60%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    > li {
      position: relative;
      display: inline-block;
      width: 10%;
      height: 0;
      margin: rhythm(1) 1%;
      padding-top: 15%;
      border: 5px solid $light;
      background-color: $light;
      &.active {
        border-color: $primary;
        &:before {
          content: '';
          position: absolute;
          top: -15px;
          left: 50%;
          display: block;
          width: 0;
          height: 0;
          margin-left: rhythm(-1);
          border-width: 0 rhythm(1) rhythm(1) rhythm(1);
          border-style: solid;
          border-color: transparent transparent $primary transparent;
        }
      }
      &.cBtn {
        width: 8%;
        border-color: $primary;
        background-color: $primary;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $dark;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        font-weight: 900;
      }
    }
  }
}
